{% extends 'base.html' %}

{% block content %}

<div class="headsContainer">
    <div class="list">
    </div>
    <div class="filter">
        <div class="filterLabel">
            Фильтр
        </div>
        <div class="filterOverlay">
            <div class="filterItem">
                Назавание
            </div>
            <div class="filterItem">
                <input type="text" id = "clTitle" placeholder="Назавание...">
            </div>
        </div>
    </div>
</div>

{% endblock %}